* {
  box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

img {
    margin: 0;
    padding: 0;
}

.logo {
    width: 334px;
    padding-top: 61px;
    padding-bottom: 38px;
}

.logo-link{
    display: block;
    text-decoration: none;
}

.span-Ra {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    line-height: 94px;
    font-size: 80px;
    color: #000000;
}

.span-mda {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    line-height: 94px;
    font-size: 80px;
    color: #00bfff;
}

.nav-wrap {
    background-color: #35444F;
    margin-bottom: 50px;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;

}

.header-link {
    padding: 20px 40px;
    color: #ffffff;
    text-decoration: none;
    font-size: 24px;
    white-space: nowrap;
    flex: 1;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

.header-nav:first-of-type > .header-img:nth-child(1) {
    margin-right: 0;
    padding-left: 162px;
}

.header-nav:first-of-type > .header-link:nth-child(8) {
    padding-right: 151px;
}

.header-img {
    margin: 0;
    padding: 0;
}

.header-link:hover {
    background-color: #222F3A;
}

.aside-menu {
    width: 344px;
    border: 1px solid #000000;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.aside-item {
    list-style-type: none;
}

.aside-link {
    display: block;
    padding: 25px 44px;
    text-decoration: none;
    font-size: 27px;
    font-style: normal;
    line-height: 27px;
    color: #495863;
    transition: .5s;
}

.aside-link:hover {
    color: #35444F;
    background-color: #DBDBDB;
    padding-left: 80px;
}

.main-content {
    width: 100%;
    max-width: calc(100% - 344px);
    padding-left: 52px;
}

.content-img {
    display: block;
    text-align: center;
    border: 1px solid #000000;
    padding-top: 75px;
    padding-bottom: 73px;
    margin-bottom: 37px;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
    margin-bottom: 34px;
}

.footer-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:  rgba(99, 105, 110, 0.48);
    margin-bottom: 30px;
    margin-top: 20px;
}

.footer-nav {
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
}

.footer-link {
    margin: 15px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    line-height: 28px;
    color: #0C1927;
}

.footer-copyright {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    line-height: 24px;
    color: #010101;
    margin-left: 82px;
    margin-right: 40px;
}

.footer-link:hover {
    color: #0080ff;
    text-decoration: underline;
}
