@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');
*,
::before,
::after {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    max-width: 1920px;
    width: 100%;
}

.header-background {
    position: relative;
    background-image: url(../images/header-background.png);
    height: 1012px;
}

.header-container {
    max-width: 1160px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-bar {
    background: rgba(94, 93, 88, 0.6);
    padding-top: 26px;
    padding-bottom: 27px;
}

.header-logo {
    display: flex;
    align-items: center;
}

.header-logo-img {
position: relative;

}

.logo-letter {
position: absolute;
left: 385px;
top: 43px;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 31px;
color: #ffffff;
}

.hd-logo-the {
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: 48px;
color: #ffffff;
margin-left: 6px;
}

.hd-logo-ham {
 font-size: 32px;
 font-style: normal;
 font-weight: 700;
 line-height: 48px;
 color:#18CFAB;   
}

.nav-bar {

}

.nav-menu {
    display: flex;
}

.nav-item {
    list-style-type: none;
    margin-right: 21px;
}

.nav-link {
    text-decoration: none;
    color:rgba(255, 255, 255, 0.6);
    text-transform: uppercase;
    transition: .3s;
}

.nav-link:hover {
    color: #18CFAB;
}



    
