*,
::before,
::after {
    box-sizing: border-box;
}

.background-img {
    background-image: url("../images/background-main.jpg");
    height: 100%;
    max-width: 1366px;
    width: 100%;
    margin: 0 auto;
}

.header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 51px;
    padding-bottom: 26px;
}

.container {
    max-width: 1030px;
    width: 100%;
    margin: 0 auto;
}

.logo-text-milan {
    display: block;
    font-size: 29px;
    font-style: normal;
    font-weight: 700;
    line-height: 29px;
    text-decoration: none;
    color: #ffffff;
}

.logo-text-holidays {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    color: #ffffff;
}

.header-link {
    display: block;
    position: relative;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    padding-left: 61px;
}

.logo-img {
    position: absolute;
    top: 0;
    left: 0;
}

.logo-img-orange {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.header-contacts {
    font-family: Roboto, sans-serif;
    text-align: right;
}

.contacts-email {
    display: block;
    text-decoration: none;
    color: #ffffff;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 19px;
}

.contacts-phone {
    text-decoration: none;
    color: #ffffff;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
}

.header-link:hover span {
    color: #F26522;
}

.header-link:hover .logo-img {
    opacity: 0;
}

.header-link:hover .logo-img-orange {
    opacity: 1;
}

.contacts-email:hover {
    color: #F26522;
}

.contacts-phone:hover {
    color: #F26522;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 61px 37px;

}

.card-picture {
    display: block;
    position: relative;
    height: 220px;
    width: 100%;
    overflow: hidden;

}

.card-image {
    position: absolute;
    width: 110%;
    height: 110%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.card-info {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -100%;
    background-color: #F26522;
    padding: 7px 16px 12px;
    color: #ffffff;
    transition: .3s;
}

.arrow {
    display: inline-block;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    width: 10px; height: 10px;
    transform: rotate(-45deg);
}

.from {
    display: block;
}

.card-info-right {
    align-self: flex-end;
}

.card:hover .card-info {
    bottom: 0;
}

.card:hover .card-label {
    color: #F26522;
}

.card-label {
    display: block;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    color: #ffffff;
    padding-top: 20px;
}

.card {
    text-decoration: none;
    text-align: center;
}

.footer-copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 49px;
    padding-bottom: 15px;
    color: #ffffff;
    font-family: Roboto, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
}

