*,
::before,
::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    background: #F2F2F2;
}

main {
    padding-top: 70px;
}

.main-header {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #313131;
    position: fixed;
    z-index: 1;
    width: 100%;
}

.header-logo {
    width: 188px;
    padding-left: 27px;
    margin-right: auto;
}

.header-img {
    margin-right: 27px;
}

.hd-text-logo {
    font-family: 'Open Sans', sans-serif;
    color: #FFFFFF;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
}

.nav-menu {
    display: flex;
    list-style-type: none;
    padding: 0;
    justify-content: space-around;
    align-items: center;
}

.nav-link {
    text-decoration: none;
    color: #FFFFFF;
}

.nav-item:last-child {
    margin-right: 0px;
}

.nav-item {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    margin-right: 35px;
}

.nav-link:hover {
    color: #14B9D5;
}

.hd-search {
    width: 68px;
    background: #000000;
    margin-left: auto;
}
.search-img {
    margin: 27px 26px;
}

.hd-background {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../images/header-background.jpeg);
    background-attachment: fixed;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 163px;
    padding-bottom: 74px;
}

.filter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, .2);
}

.hd-img-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.hd-text-bg {
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 27px;
    font-style: normal;
    font-weight: 700;
    line-height: 37px;
    letter-spacing: 0px;
    text-align: center;
    margin-bottom: 44px;
    z-index: 2;
}

.hd-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 360px;
    z-index: 2;
}

.hd-btn-link {
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
    text-align: center;
    text-decoration: none;
    padding: 16px 20px;
    border-radius: 3px;
}

.green {
    background: #89CA62;
}

.blue {
    background: #14B9D5;
}

.popular-posts {
    padding-top: 49px;
    background:  #F2F2F2;
}

.text-posts {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    margin: 0;
    text-transform: uppercase;
    color: #18B4CF;
    text-align: center;
    padding-bottom: 52px;
}

.main-posts-photo {
    height: 1030px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.vanglo-img {
    width: 370px;
    margin-top: 30px;
    font-family: Open Sans, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    text-align: center;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);

}

.popular-clients {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-image: url(../images/main-background.jpeg);
    background-attachment: fixed;
    height: 588px;
    background-position: center;
    justify-items: center;
    align-items: center;
    padding-top: 108px;
    padding-bottom: 150px;
    margin-bottom: 50px;
}

.hd-popular-clients {
    font-family: Open Sans,sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 44px;
    color: #ffffff;
    text-transform: uppercase;
    margin: 0;
}

.bg-line {
    width: 60px;
    height: 3px;
    background: #18B4CF;
}

.clients-logo {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 58px;
    align-items: center;
}

.top-rated {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr;
    justify-items: center;
    align-items: center;
    margin-bottom: 48px;
}

.top-rated-img {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;
}
.text-top-rated {
    font-family: Open Sans,sans-serif;
    font-size: 27px;
    font-style: normal;
    font-weight: 700;
    line-height: 37px;
    color: #18B4CF;
    text-transform: uppercase;
    padding-bottom: 52px;
}

.text-hot-news {
    font-family: Open Sans,sans-serif;
    font-size: 27px;
    font-style: normal;
    font-weight: 700;
    line-height: 37px;
    text-align: center;
    color: #18B4CF;
    text-transform: uppercase;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 44px 60px;
    grid-template-areas:
    "cart-horizontal-1 cart-horizontal-1 cart-horizontal-1 cart-small-1"
    "cart-center-1 cart-center-1 cart-center-2 cart-center-2"
    "cart-center-3 cart-center-3 cart-center-4 cart-center-4"
    "cart-small-2 cart-horizontal-2 cart-horizontal-2 cart-horizontal-2";
    margin-bottom: 71px;
}

.cart-horizontal-1 { grid-area: cart-horizontal-1; }
.cart-small-1 { grid-area: cart-small-1; }
.cart-center-1 { grid-area: cart-center-1; }
.cart-center-2 { grid-area: cart-center-2; }
.cart-center-3 { grid-area: cart-center-3; }
.cart-center-4 { grid-area: cart-center-4; }
.cart-small-2 { grid-area: cart-small-2; }
.cart-horizontal-2 { grid-area: cart-horizontal-2; }

.style {
    background: #ffffff;
}

.cart-horizontal {
    display: flex;
    background:  #F9F7F7;
}

.cart-horizontal .cart-info {
    padding: 41px 24px 40px 31px;
    text-align: right;
}

.header-section {
    font-family: Open Sans,sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #353a3d;
    margin: 0;
}

.text-section {
    font-family: Open Sans,sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #5b6469;
}

.cart-small {
    background: #F9F7F7;
}

.cart-center {
    background: #F9F7F7;
}

.cart-info-small {
    text-align: center;
    padding-top: 30px;
}

.cart-info-center {
    text-align: right;
    padding: 12px 14px 3px 13px;
}

.grid-container-footer {
    background: #000000;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 2.5fr 0.5fr 1fr;
    grid-template-rows: 1fr;
    height: 80px;
    grid-template-areas:
      "footer-copyright footer-logo footer-logo-text";
}

.footer-copyright { grid-area: footer-copyright; }
.footer-logo { grid-area: footer-logo; }
.footer-logo-text { grid-area: footer-logo-text; }

.footer-copyright {
    font-family: Open Sans, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    color: #ffffff;
}

.footer-logo {
    justify-self: end;
}

.footer-logo-text {
    justify-self: start;
}





