*{
    margin: 0;
    padding: 0;
}

.wrapper-content{
    display: block;
    box-sizing: border-box;
    margin: auto;
    width: 1280px;
    height: 1626px;
    font-family: 'Montserrat', sans-serif;
}

.nav-item{
    display: inline-block;
    margin-right: 72px;
}

.nav-menu{
    padding-top: 25.5px;
    margin-left: 330px;
    margin-right: 330px;
    width: 660px;
    height: 15px;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    text-align: center;
}

.nav-link{
    color: #ff0000;
    text-decoration: none;
}

.nav-link:hover{
    color: #000000;
}

.main-photo{
    width: 1280px;
    height: 789px;
    margin-top: 25.5px;
}

.content-heading{
    margin-top: 49px;
    margin-left: 253px;
    margin-right: 253px;
    width: 774px;
    height: 29px;
    font-weight: 700;
    font-size: 22px;
    line-height: 26.82px;
    text-align: center;
}

.first-paragraph{
    margin-top: 38px;
    margin-left: 67.5px;
    margin-right: 67.5px;
    width: 1145px;
    height: 132px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
}

.second-paragraph{
    margin-top: 28px;
    margin-left: 67.5px;
    margin-right: 67.5px;
    width: 1145px;
    height: 216px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
}

.main-button{
    padding-top: 66px;
    margin-right: 544.5px;
    padding-bottom: 42px;
    margin-left: 544.5px;
    text-align: center;

}

.button-link{
    padding-top: 18px;
    padding-right: 43.5px;
    padding-bottom: 17px;
    padding-left: 42.5px;
    background-color: #ff0000;
    font-size: 12px;
    font-weight: 700;
    line-height: 12px;
    letter-spacing: 1.8px;
    text-align: center;
    color: #ffffff;
    border-radius: 4px;
    border: none;
}

.main-link{
    text-decoration: none;
    color: #ffffff;
}

.main-link:hover{
    color: #000000;
}

.footer-paragraph{
    margin-top: 40px;
    margin-right: 105px;
    margin-bottom: 29px;
    margin-left: 713px;
    text-align: center;
    font-size: 16px;
    letter-spacing: 2.4px;
    line-height: 19.5px;
    color: #373737;
    font-weight: bold;
}



