*,
::before,
::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

.main-background {
    background-image: url(../images/main-background.png);
    min-height: 100vh;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}   

.header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.4);
}

.header-link-logo {
    font-size: 22px;
    font-weight: 700;
    line-height: 22px; 
    color: #ffffff;
    text-decoration: none;
    transition: .3s;
}

.header-logo {
    padding-left: 79px;
    padding-top: 18px;
    padding-bottom: 18px;
}

.header-images {
    display: flex;
}

.header-link-registred {
font-size: 14px;
font-weight: 400;
line-height: 14px;
color: #ffffff;
text-decoration: none;
}

.header-registred {
    margin-right: 79px;
}

.header-link-calendar {
    padding-right: 27px;
}

.header-link-mail {
    padding-right: 24px;
}

.header-link-compass {
    margin-right: 25px;
} 

.header-line {
    margin-right: 27px;
}

.header-link-hover {
    transition: .3s;
}


.header-link-logo:hover {
    color: #3CB878;
}

.header-link-hover:hover {
    color: #3CB878; 
}

.header-svg-calendar {
    fill: #ffffff;
    transition: .3s;
}

.header-svg-calendar:hover {
    fill: #3CB878;
}

.header-svg-mail {
    fill: #ffffff;
    transition: .3s;
}

.header-svg-mail:hover {
    fill: #3CB878;
}

.header-svg-compass {
    fill: #ffffff;
    transition: .3s;
}

.header-svg-compass:hover {
    fill: #3CB878;
}

.container {
    max-width: 444px;
    width: 100%;
    height: 70vh;
    margin: 0 auto;
    margin-top: 54px;
    background-color: #ffffff;
}

.green-box {
    position: absolute;
    width: 18px;
    height: 18px;
    margin-left: 0;
    margin-top: 29px;
    background-color: #3CB878;
}

.container-form {
    max-width: 324px;
    width: 100%;
    margin: 0 auto;
}

.form-header {
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 15px;
padding-top: 31px;
}

.form-sign-up {
margin: 0;
font-size: 20px;
font-weight: 400;
line-height: 20px;
color: #434343;
}

.form-log-in {
font-size: 14px;
font-weight: 400;
line-height: 14px;
color:  #3CB878;
text-decoration: none;
}

.social-buttons {
     display: flex;
    align-items: center;
    justify-content: space-between;
} 

.social-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(50% - 2px);
    padding: 10px 22px 10px 16px;
    border-radius: 3px;

}

.facebook {
text-decoration: none;
background-color: #305DB8;
transition: .3s;
}

.facebook:hover {
    background-color: #022263;
}

.google {
    text-decoration: none;
    background-color: #DF4A32;
    transition: .3s;
}

.google:hover {
    background-color: #AB1F09;
}

.social-button-line {
    margin-right: auto;
    margin-left: 7px;
}

.social-button-text {
font-size: 16px;
font-weight: 400;
line-height: 16px;
color: #ffffff;
}

.form-line {
   display: flex;
   text-align: center;
   justify-content: center;
   margin-top: 31px;
   margin-bottom: 11px;
}

.main-line {
    color: #f2f2f2;
    width: calc(50% - 2px);
    height: 1px;
    border:none;
    background-color: #f2f2f2;
}

.line-text {
    font-size: 14px;
    line-height: 14px;
    color: #848484;
    padding-left: 4px;
    padding-right: 2px;
}

.form-name {
font-size: 14px;
font-weight: 400;
line-height: 14px;
margin-bottom: 15px;
color: #BEBEBE;
}

.form-confirm-psw {
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    margin-bottom: 12px;
    color: #BEBEBE;
}

input {
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    width: 100%;
    padding: 16px 20px;
}

input:focus {
    background: #ffffff;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    border-radius: 4px;
    outline: none;
}

input[type=checkbox] {
    width: auto;
}

.checkbox-link {
    color: #3cb878;
    font-size: 14px;
    line-height: 14px;
    text-decoration: none;
}

.create-btn {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 38px;
    text-align: center;
    background-color: rgba(60, 184, 120, 0.8);
    padding-top: 16px;
    padding-bottom: 16px;
    transition: .3s;
    
}

.create-btn:hover {
  background-color: #01813F;
}

.btn-create-acc {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    line-height: 16px;
}



