body {
width: 100%;
height: 100%;
background: #000;
overflow: hidden;
font-family: 'Roboto', sans-serif;
margin: 30% 0 0 0;
}

.star-wars {
    display: flex;
    justify-content: center;
    text-align: justify;
    position: relative;
    color: #feda4a;
    height: 800px;
    font-size: 500%;
    font-weight: 600;
    letter-spacing: 6px;
    line-height: 150%;
    perspective: 400px;
}

.star-wars-animation {
    position: relative;
    top: 99999px;
    transform-origin: 50% 100%; 
    animation: scroll 30s linear infinite;
}

.star-wars-animation > .text-title {
    font-size: 90%;
    text-align: center;
}

.star-wars-animation > .text-title h1,h2{
    margin: 0 0 100px;
    text-transform: uppercase;
}

@keyframes scroll {
    0% {
        top: -100px;
        transform: rotateX(20deg) translateZ(0);
    }
    100% {
        top: -6000px;
        transform: rotateX(25deg)translateZ(-2500px);
    }
}